.addBtn{
    background-color: lime;
    color: deeppink;
  
}

.addBtn:hover{
    background-color: lightgreen;
    color: lightpink;
}

.deleteBtn{
    background-color: aquamarine;
    color: violet;
  
}

.deleteBtn:hover{
    background-color: lightskyblue;
    color: lightgrey;
}

.btn{
    height: 50px;
    width: 175px;
    font-weight: bolder;
    border-radius: 5px;
}